/* CSS for Form Section */

.form {
	background-color: white;
	padding: 10px;
	text-align: center;
}

.form h1 {
	color: black;
	font-size: 36px;
}

.form h2 {
	color: black;
	font-size: 24px;
	margin-bottom: 20px;
}

.form p {
	color: black;
	text-align: center;
}

.form form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
