/* CSS for Form Section */

.container {
	background-color: white;
	padding: 10px;
	text-align: center;
}

.container h1 {
	color: black;
	font-size: 36px;
}

.container h2 {
	color: black;
	font-size: 24px;
	margin-bottom: 20px;
}

.container p {
	color: black;
	text-align: center;
}

.container form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
